<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="title">
    <h3>Assistenza alle persone con disabilità o mobilità ridotta</h3>
    <br />
    <div id="icon">
      <a href="/linkFB" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="/linkTW" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="/linkGG" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="/linkIG" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="/linkLI" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="/linkGH" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="FirstDiv">
      <p>
        Il servizio di assistenza è effettuato da RFI - Rete Ferroviaria
        Italiana - ed è rivolto alle «<strong>persone con disabilità</strong>»
        <br />
        o «<strong>persone a ridotta mobilità</strong>» (PRM), nella cui
        accezione rientrano:
      </p>
      <img src="../../../assets/H2.webp" alt="disabile" />
    </div>
    <ul>
      <li><strong>le persone che si muovono su sedia a ruote</strong>;</li>
      <li>
        <strong
          >le persone con problemi agli arti o con difficoltà di
          deambulazione</strong
        >;
      </li>
      <li><strong>le persone anziane</strong>;</li>
      <li><strong>le donne in gravidanza</strong>;</li>
      <li><strong>i non vedenti o con disabilità visive</strong>;</li>
      <li><strong>i non udenti o con disabilità uditive</strong>;</li>
      <li><strong>le persone con disabilità cognitiva</strong>.</li>
    </ul>
    <p style="margin-bottom: 5%">
      In caso di non <strong>autosufficienza del viaggiatore</strong> per cui
      sono richiesti i servizi di assistenza, questi potrebbero essere <br />
      subordinati alla presenza di un <strong>assistente personale</strong> in
      stazione o di un accompagnatore durante il viaggio.
    </p>
  </div>
</div>

<app-footer></app-footer>
