<app-navbar></app-navbar>
<div class="containerEntire">
  <div class="formDiv">
   <div class="head">
    <h2>Prenotare il treno è finalmente semplice</h2>
    <p id="par">Compara tutte le soluzioni di viaggio  <br> e trova il biglietto perfetto per te.</p>
    <div class="form">
      <app-header-promo></app-header-promo>
     </div>
   </div>

  </div>
  <div class="content">
    <div class="container">
      <div id="par">
        <p id="heading">Si fidano di noi. Vendiamo i loro biglietti.</p>
      </div>
      <div class="contentDiv">
        <img src="../../../assets/italbus.avif" alt="logo" class="image" />
        <img
          src="../../../assets/Eurostar-Logo-New.png"
          alt="logo"
          class="image"
        />
        <img
          src="../../../assets/primary_logo_2020.png"
          alt="logo"
          class="image"
        />
      </div>
      <div class="contentDiv">
        <img
          src="../../../assets/Logo_SNCF_2011.svg.png"
          alt="logo"
          class="image"
        />

        <img src="../../../assets/trenord.png" alt="logo" class="image" />
        <img src="../../../assets/renfe.png" alt="logo" class="image" />
      </div>
    </div>
  </div>
</div>
<div class="content1">
  <h2>Lasciati ispirare</h2>
  <p>
    Scegli la tua prossima destinazione in Italia o in Europa e <br> acquista i tuoi
    biglietti online in pochi clic.  <br>
    Non sai dove andare? Prendi spunto dalle
    nostre idee di viaggio.
  </p>
</div>

<div class="container1">
  <app-ticket-container></app-ticket-container>
</div>

<app-footer></app-footer>
