<app-navbar></app-navbar>
<div class="containerEntire">
  <div class="formDiv">
    <div class="head">
      <h2>Prenotare il treno è finalmente semplice</h2>
      <p id="par">
        Compara tutte le soluzioni di viaggio
        e trova il biglietto perfetto per te.
      </p>
      <div class="form">
        <app-header-promo></app-header-promo>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <div id="par">
        <p id="heading">Si fidano di noi. Vendiamo i loro biglietti.</p>
      </div>
      <div class="contentDiv">
        <img src="../../../assets/italbus.avif" alt="logo" class="image" />
        <img
          src="../../../assets/Eurostar-Logo-New.png"
          alt="logo"
          class="image"
        />
        <img
          src="../../../assets/primary_logo_2020.png"
          alt="logo"
          class="image"
        />
        <img
          src="../../../assets/Logo_SNCF_2011.svg.png"
          alt="logo"
          class="image"
        />

        <img src="../../../assets/trenord.png" alt="logo" class="image" />
        <img src="../../../assets/renfe.png" alt="logo" class="image" />
      </div>
    </div>
  </div>
</div>
<div class="content1">
  <h2>Lasciati ispirare</h2>
  <p id="par2">
    Scegli la tua prossima destinazione in <strong>Italia</strong> o in <strong>Europa</strong> e <br />
    acquista i tuoi <strong>biglietti online</strong> in pochi clic. <br />
    Non sai dove andare?  <strong>Prendi spunto dalle nostre idee di viaggio</strong>.
  </p>
</div>

<div class="container1">
  <app-ticket-container></app-ticket-container>
  <div class="preFooter">
    <div class="items" id="items1">
      <img
        src="../../../assets/affiliate-search-widgets.svg"
        alt=""
        class="imgItems"
        id="img1"
      />
      <div id="p1">
        <p>
          Trova i biglietti di centinaia di <br />
          compagnie ferroviarie, in Italia e in Europa.
        </p>
      </div>
    </div>
    <div class="items">
      <img src="../../../assets/AppCTA.svg" alt="" class="imgItems" id="img2" />
      <div id="p2">
        <p>
          Acquista i biglietti sul nostro sito o <br />
          sull'app e tienili sempre a portata di mano.
        </p>
      </div>
    </div>
    <div class="items" id="items3">
      <img
        src="../../../assets/fast-facts-2.webp"
        alt=""
        class="imgItems"
        id="img3"
      />
      <div id="p3">
        <p>
          Modifica o annulla i tuoi biglietti online. <br />
          Se hai bisogno di supporto, contattaci.
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
