#home{
  width: 100%;
  height:70%;
  background-image: url("../../../assets/lol1.avif");
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#main{
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 12%;
  margin-left: 16%;
  color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
h3{
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 18%;
  margin-left: 20%;
  color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

