.card{

  margin-top:3em;
  margin-left:3em;
  margin-right:3em;
  margin-bottom:5em;
  border-radius: 10%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: none;
  background-color: var(--bs-card-bg);
  background-clip: none;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
