.card{

  border-radius: 7px;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-right: 4.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: none;
  background-color: var(--bs-card-bg);
  background-clip: none;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius:10px !important;

}
h5{
  font-weight: 600;
}
#btn{
  width: 40%;
  margin-bottom: -1.5em;
  background-color:#334b37;
  border-color: #334b37
}
