#mainContainer{
  height:100vh;
  width:100vw;
  background-image: url('../../../assets/psich.avif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;justify-content: center;



}

.container{
  height:100vh;
  width:100vw;
}
#input{
  margin-top : 28vh;
  height:30vh;
  width:60vw;
  display: flex;justify-content: space-between;
  background-position: center;
  background-color: transparent;
  border-radius: 10px;
}


#Departure{
  height:2em;
  width: 15em;
  background-color: transparent;
  border-color: black;
  border-radius: 3em;
  border-style: double;


}
#Arrival{
  height:2em;
  width: 15em;
  background-color: transparent;
  border-color: black;
  border-radius: 3em;
  border-style: double;


}
#data {
  height:2em;
  width: 15em;
  background-color: transparent;
  border-color: #000000;
  border-radius: 3em;
  border-style: double;

}
#cal{
  height:2em;
  width: 2em;
  border-color: black;



}
#dataCont{
  display: flex;justify-content: space-around;

}





