
#mainContainer{
  height:100vh;
  width:100vw;
  background-image: url('../../../assets/psich.avif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;justify-content: center;
}

.row{
  margin-top:35vh;
  width:50vw;
  height:15vw;
  background-color: white;
  background-position: center center;
  border-radius: 1em;
  box-shadow: inset 10px 10px 10px #dedede;
  font-size: 1em;

}

.inputGroup1-2{
  display: flex;justify-content: space-between;
  margin-left:5em;
  margin-top: 2em;;
  margin-right:2em;
  position:relative;
}
.inputGroup3-4{
  display: flex;justify-content: space-between;
  margin-left:5em;
  margin-top: 2em;
  margin-right:2em;
  position:relative;

}
.inputGroup2{
  margin-right:12em;
  position:relative;
}


#date{margin-right:1em; position:relative;}



.search{
  margin-top:3em;
  width:6em;
  height:2em;
  background-color: #013827 ;
  color:beige;
  border-radius: 1em;
  position:relative;
}
  #headings{
    color:#013827;
    margin-left:5em;

  }


