.container-fluid{
 display: flex;
 position:static;
}
#mainContainer{
  position:relative;
  height:100vh;
  width:100vw;
  background-image: url('../../../assets/psich.avif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;justify-content: center;
}

.row{
  position:absolute;
  margin-top:35vh;
  width:50vw;
  height:17vw;
  background-color: white;
  background-position: center center;
  border-radius: 1em;
  box-shadow: 5px 5px 5px #dedede, -5px -5px 5px #dedede, 5px -5px 5px #dedede, -5px 5px 5px #dedede;
  font-size: 1em;

}

.inputGroup1-2{
  display: flex;justify-content: space-between;
  margin-left:5em;
  margin-top: 2em;;
  margin-right:2em;

}
.inputGroup3-4{
  display: flex;justify-content: space-between;
  margin-left:5em;
  margin-top: 2em;
  margin-right:2em;


}
.inputGroup2{
  margin-right:8.5em;

}
.inputGroup4{
  margin-right:5em;
}


#date{margin-right:1em; }



.search{
  margin-top:3em;
  margin-left:20vw;
  width:12em;
  height:2em;
  background-color: #013827 ;
  color:beige;
  border-radius: 0.5em;

}
  #headings{
    color:#013827;
    margin-left:5em;
   }
.form-control{
  width:12em;
  height:1.5em;
}

#dateStandard{
  width:12em;

  height:1.5em;
}
#btnDiv{


  display: flex;justify-content: center;

}
