
<div class="container-fluid" >
  <div class="col-12"id="mainContainer">



    <div class="row">
      <h3 id="headings"> ITINERARIO </h3>


  <div class=" inputGroup1-2" >
   <div class=" inputGroup1" >
      <label for="departure" id="departure"> <strong>Da: </strong></label>
      <input type="text" class="form-control" name="name" placeholder="" ngModel>
   </div>

   <div class=" inputGroup2" >
    <label for="departure" id="departure"> <strong> A: </strong> </label>
    <input type="text" class="form-control" name="name" placeholder="" ngModel>
 </div>
 </div>
 <div class=" inputGroup3-4" >
 <div class=" inputGroup3" >
  <label class="active" for="dateStandard" id="date"> <strong> Data:</strong></label>
  <input type="date" id="dateStandard" name="dateStandard"ngModel>
</div>

<div class=" inputGroup4" >
    <label for="departure" id="departure"> <strong>Numero di persone </strong> </label>
    <input type="text" class="form-control" name="name" placeholder="" ngModel>
</div>
<div class="btnDiv">
  <button class="search"> CERCA</button>
</div>
 </div>
 </div>
 </div>


