<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="headings">
    <h2 style="font-weight: 600; color: #334b37">
      Servizi minimi garantiti in caso di sciopero
    </h2>
  </div>
  <div class="content">
    <p style="font-size: 15px">
      Nelle giornate di sciopero TrainApp assicura
      <strong> servizi minimi di trasporto </strong>, riportati di seguito,
      predisposti a seguito di accordi con le x Organizzazioni sindacali ,
      ritenuti idonei dalla Commissione di Garanzia per l'attuazione della Legge
      146/1990. <strong> Poiché in corso di sciopero</strong> si potrebbero
      verificare <br />
      <br />
      variazioni non preventivabili (es.: modifica di itinerario per i treni a
      lunga percorrenza), è importante prestare <br />
      la <strong>massima attenzione</strong> ai comunicati diffusi nelle
      stazioni e dagli organi d'informazione. <br />
      <br />
      I treni che si trovano in viaggio a sciopero iniziato arrivano comunque
      alla destinazione finale <br />
      se è raggiungibile <strong>entro un'ora</strong> dall'inizio
      dell'agitazione sindacale; trascorso tale periodo, i treni possono
      fermarsi in <strong>stazioni precedenti</strong> la destinazione finale.
    </p>

    <h4
      style="
        font-weight: 600;
        margin-top: 5%;
        margin-bottom: 3%;
        color: #334b37;
      "
    >
      Treni nazionali garantiti in caso di sciopero
    </h4>
    <div class="pdfCont">
      <img
        src="../../../assets/PDF_file_icon.svg (1).png"
        alt="pdf"
        class="pdfIcon"
      />
      <a
        href="https://www.trenitalia.com/content/dam/tcom/allegati/trenitalia_2014/informazioni/TABELLA_A_Treni_garantiti_DPLH.pdf"
      >
        <strong
          >Treni nazionali garantiti nei giorni feriali e festivi(.pdf
          1360KB)</strong
        ></a
      >
    </div>
    <div class="pdfCont">
      <img
        src="../../../assets/PDF_file_icon.svg (1).png"
        alt="pdf"
        class="pdfIcon"
      />
      <a
        href="https://www.trenitalia.com/content/dam/tcom/allegati/trenitalia_2014/informazioni/TABELLA_B_Treni_garantiti_DPLH.pdf"
      >
        <strong>
          Treni nazionali garantiti in caso di sciopero con durata non superiore
          alle 24 ore (.pdf 1.21 MB)</strong
        ></a
      >
    </div>
    <h4
      style="
        font-weight: 600;
        margin-top: 5%;
        margin-bottom: 3%;
        color: #334b37;
      "
    >
      Treni regionali garantiti in caso di sciopero
    </h4>
    <p>
      Nel <strong>trasporto regionale</strong> sono stati istituiti i servizi
      essenziali nelle fasce orarie di maggiore frequentazione <br />
      (dalle ore 06.00 alle ore 09.00 e dalle ore 18.00 alle ore 21.00 dei
      <strong>giorni feriali</strong> ).
    </p>

    <h4
      style="
        font-weight: 600;
        margin-top: 5%;
        margin-bottom: 3%;
        color: #334b37;
      "
    >
      Servizi garantiti in caso di sciopero da altre imprese di trasporto
    </h4>
    <div class="pdfCont"style="margin-bottom:10%;">
      <img
        src="../../../assets/PDF_file_icon.svg (1).png"
        alt="pdf"
        class="pdfIcon"
      />
      <a
        href="https://www.trenitalia.com/content/dam/tcom/allegati/trenitalia_2014/informazioni/Servizi_minimi_garantiti_in_caso_di_sciopero_altre_Imprese_di_Trasporto.pdf"
      >
        <strong>
          Servizi garantiti in caso di sciopero da altre imprese di trasporto
          (.pdf 92 KB)</strong
        ></a
      >
    </div>
  </div>
</div>
<app-footer></app-footer>
