#foot {
  height: 10%;
}
#icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1.5em;
}
.text-reset {
  text-decoration: none;
}
.payment {
  height: 20%;
  width: 25%;
  margin-top: 5%;
  margin-right: 5%;
}
.down {
  height: 80%;
  width: 10%;
}
#par {
  margin-right: 2em;
  margin-top: 0em!important;
  margin-bottom: 0em!important;}
#apple {
  height: 100%;
  width: 10%;
}
.p-4 {
   padding: 0rem!important;
}
.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
