#nav{
  width:100%;
  position: fixed;
}
.container-fluid{
  width:100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
#logo{
  width:15%;
  max-width: 15%;
}
#navbarNavAltMarkup{
  width:40%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  background-color: white;
  margin-right: 10vw;
}
.nav-link{
  font-size: large;
  margin-right: 2vw;
  font-weight: 600;
}
#btn{
  background-color: white;
  border-color:gray;
  border-width: 2px solid;
  border-radius: 2em;
  color:gray
}
