#nav{
  width:100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: white!important;

}
.container{
  width:100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

#logo{
  width:25%;

  margin-left:-5%;
}
#navbarNavAltMarkup{
  display: flex;
  justify-content: flex-end;
  background-color: white;

}
.nav-link{
  font-size: large;
  margin-right: 2vw;
  font-weight: 600;
}
.nav-link:hover{
  font-size: large;
  margin-right: 2vw;
  font-weight: 600;
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
  color:#00A88F;
}
#btn{
  background-color: white;
  border-color:gray;
  border-width: 2px solid;
  border-radius: 2em;
  color:gray
}
#btn:hover{
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
  border-color:#00A88F;
}
.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
