<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="title">
    <h3>Un viaggio sicuro parte da te</h3>
    <br />
    <div id="icon">
      <a href="/linkFB" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="/linkTW" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="/linkGG" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="/linkIG" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="/linkLI" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="/linkGH" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
  <div class="subTitle" style="margin-top: 2.5%">
    <h4>Il treno è il mezzo di trasporto più sicuro</h4>
    <p>
      Ma i rischi dovuti a disattenzioni o imprudenze sono in agguato e possono
      creare situazioni di pericolo per te e per gli altri viaggiatori. Segui
      con attenzione le regole di comportamento consigliate, e potrai goderti il
      viaggio nella massima tranquillità
    </p>
  </div>
  <div class="items">
    <div class="item1" style="margin-top: 5%; margin-bottom: 2.5%">
      <h5>Non oltrepassare la linea gialla</h5>
      <img
        src="../../../assets/ImgArtSicurezza_07.gif"
        style="width: 10%; margin-top: 2.5%"
        alt=""
      />
      <p style="margin-top: 2.5%">
        È fondamentale rispettare la distanza di sicurezza dal bordo del
        marciapiede, facendo attenzione ai treni in movimento, soprattutto
        quando si hanno bagagli ingombranti e zaini in spalla.
      </p>
    </div>
    <div class="item1" style="margin-top: 5%; margin-bottom: 2.5%">
      <h5>Non tentare di salire al volo</h5>
      <img
        src="../../../assets/ImgArtSicurezza_01.gif"
        style="width: 10%; margin-top: 2.5%"
        alt=""
      />
      <p style="margin-top: 2.5%">
        È vietato salire o tentare di aprire le porte quando il treno si muove.
        Salire nel momento della chiusura delle porte è molto pericoloso. Quando
        il treno è in partenza è vietato salire se il personale del treno è già
        salito a bordo
      </p>
    </div>
    <div class="item1" style="margin-top: 5%; margin-bottom: 2.5%">
      <h5>
        Non salire e non scendere dal treno al di fuori dei marciapiedi delle
        stazioni e non camminare lungo il binario
      </h5>
      <img
        src="../../../assets/ImgArtSicurezza_05.gif"
        style="width: 10%; margin-top: 2.5%"
        alt=""
      />
      <p style="margin-top: 2.5%">
        In stazione si deve sempre scendere e salire in corrispondenza dei
        marciapiedi. Dove questi terminano, il gradino della carrozza diventa
        alto da terra ed è quindi pericoloso provare a scendere o a risalire. E
        ricorda che è assolutamente proibito camminare lungo il binario.
      </p>
    </div>
    <div class="item1" style="margin-top: 5%; margin-bottom: 2.5%">
      <h5>Scendi solo quando il treno è completamente fermo in stazione</h5>
      <img
        src="../../../assets/ImgArtSicurezza_02.gif"
        style="width: 10%; margin-top: 2.5%"
        alt=""
      />
      <p style="margin-top: 2.5%">
        È vietato aprire le porte e scendere con il treno ancora in
        movimento,può creare rischi molto seri per chi lo fa.
      </p>
    </div>
    <div class="item1" style="margin-top: 5%; margin-bottom: 2.5%">
      <h5>Scendi dalla parte "giusta"</h5>
      <img
        src="../../../assets/ImgArtSicurezza_03.gif"
        style="width: 10%; margin-top: 2.5%"
        alt=""
      />
      <p style="margin-top: 2.5%">
        E' importante verificare che la porta da cui si scende si affacci sul
        marciapiede e non sul binario.
      </p>
    </div>
    <div class="item1" style="margin-top: 5%; margin-bottom: 2.5%">
      <h5>
        Ascolta i messaggi dell’altoparlante e tieni d’occhio i tabelloni.
      </h5>
      <img
        src="../../../assets/ImgArtSicurezza_08.gif"
        style="width: 10%; margin-top: 2.5%"
        alt=""
      />
      <p style="margin-top: 2.5%">
        Prestando attenzione alle comunicazioni dagli altoparlanti e agli avvisi
        sui display è possibile prepararsi all’arrivo del treno.
      </p>
    </div>
    <div class="item1" style="margin-top: 5%; margin-bottom: 2.5%">
      <h5>Non gettare oggetti dai finestrini.</h5>
      <img
        src="../../../assets/ImgArtSicurezza_09.gif"
        style="width: 10%; margin-top: 2.5%"
        alt=""
      />
      <p style="margin-top: 2.5%">
        È una elementare norma non solo di buona educazione ma anche di
        sicurezza, per evitare danni ai passeggeri di un treno in transito
        oppure alle persone in attesa sui marciapiedi delle stazioni.
      </p>
    </div>
    <div class="item1" style="margin-top: 5%; margin-bottom: 2.5%">
      <h5>Quando la porta inizia a chiudersi, non tentare di oltrepassarla</h5>
      <img
        src="../../../assets/ImgArtSicurezza_04.gif"
        style="width: 10%; margin-top: 2.5%"
        alt=""
      />
      <p style="margin-top: 2.5%">
        È una elementare norma non solo di buona educazione ma anche di
        sicurezza, per evitare danni ai passeggeri di un treno in transito
        oppure alle persone in attesa sui marciapiedi delle stazioni.
      </p>
    </div>
    <div class="item1" style="margin-top: 5%; margin-bottom: 2.5%">
      <h5>Sorreggiti ai sostegni</h5>
      <img
        src="../../../assets/ImgArtSicurezza_06.gif"
        style="width: 10%; margin-top: 2.5%"
        alt=""
      />
      <p style="margin-top: 2.5%">
        Quando si sale in treno, o quando si scende, è bene tenersi all’apposito
        corrimano interno. Durante il viaggio non sostare nei passaggi
        intercomunicanti tra un vagone e l’altro e non appoggiarti alle porte.
      </p>
    </div>
    <div class="item1" style="margin-top: 5%; margin-bottom: 2.5%">
      <h5>Non sporgerti dai finestrini</h5>
      <img
        src="../../../assets/ImgArtSicurezza_10.gif"
        style="width: 10%; margin-top: 2.5%"
        alt=""
      />
      <p style="margin-top: 2.5%">
        Lungo il percorso ferroviario, a distanza di sicurezza, ci sono pali,
        tralicci, pareti delle gallerie e alberi. Per chi si sporge dal
        finestrino del treno la distanza da questi oggetti si riduce e quindi
        diminuisce anche la sicurezza.
      </p>
    </div>
    <div class="pdfCont" style="margin-top: 5%">
      <img
        src="../../../assets/PDF_file_icon.svg (1).png"
        alt="pdf"
        class="pdfIcon"
      />
      <a
        href="https://www.trenitalia.com/content/dam/tcom/allegati/trenitalia_2014/informazioni/POSTERSicurezza_new.PDF"
      >
        <strong> Scarica la locandina (.pdf 4580 KB)</strong></a
      >
    </div>
    <div class="pdfCont" style="margin-bottom: 5%">
      <img
        src="../../../assets/PDF_file_icon.svg (1).png"
        alt="pdf"
        class="pdfIcon"
      />
      <a
        href="https://www.trenitalia.com/content/dam/tcom/allegati/trenitalia_2014/informazioni/BROCHURESicurezza_new.pdf"
      >
        <strong> Scarica la brochure informativa (.pdf 1645 KB)</strong></a
      >
    </div>
    <p style="font-style: italic; margin-top: 5%; font-size: small">
      Il personale TrainApp è sempre a tua disposizione, se noti comportamenti
      contrari al buonsenso o altre situazioni anomale, non esitare ad
      avvisarlo.
    </p>
  </div>
</div>
<app-footer></app-footer>
