.container-fluid{
  margin-top:8%;
  width:100%;

}
.title{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
}
h2{
  font-weight: 700;
  color:#334b37 ;
}
h3{
  margin-left: 5%;
  color:#334b37 ;
}
.content{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size:1em;
  display: flex;
  justify-content: space-around;
}
.image{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
#imgCall{
  margin-top: 15%;
  border-radius: 20px;
}
