<app-navbar></app-navbar>
<div class="container-fluid">
  <div>
    <div class="title">
      <h2>I nostri Call Center</h2>
      <br />
      <div id="icon">
        <a href="/linkFB" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="/linkTW" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="/linkGG" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="/linkIG" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="/linkLI" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="/linkGH" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>

    <h3>Chiama l’09375145 attivo tutti i giorni, 24h su 24h</h3>
  </div>
  <div class="content">
    <div class="info">
      <p>
        Puoi contattare il nostro Call Center al numero 09 37 51 45 tutti i giorni
        24 ore su 24 per i seguenti servizi: <br /><br />

       <strong> Opzione 1</strong> - Acquisti <br /><br />
       <strong> Opzione 2 </strong> - cambio prenotazione e rimborsi <br /><br />
       <strong> Opzione 3</strong> - Informazioni <br /><br />
       <strong> Opzione 4 </strong>  - Assistenza Carta TrainApp<br /><br /> <br>


        Da rete fissa il costo dello scatto alla risposta (IVA inclusa) è di<br>
        30,5 centesimi di euro e di 54,9 centesimi di euro al minuto.<br>
        <br>Da rete mobile i costi variano in funzione del gestore.<br> La
        tariffazione parte dopo la scelta dell’opzione desiderata. <br /><br />

        Se ti trovi all’estero e desideri contattare il nostro call center puoi<br>
        utilizzare il numero +39.06.68475475, <br /><br />
        attivo tutti i giorni dalle ore 7:00 alle ore 23:59. <br /><br />
        Dalle 00:00 alle 6:59 puoi lasciare un messaggio alla casella vocale.
        <br /><br />Sarai ricontattato da un operatore a partire dalle 7 della
        mattina seguente. <br /><br />

      </p>
      <p style="font-style: italic; font-size: small;">tariffa telefonica di riferimento è definita dall’operatore telefonico del cliente.</p>
    </div>
    <div class="image">
      <img src="../../../assets/416x359_InostriCallCenter.jpg" alt="" id="imgCall">
    </div>
  </div>
</div>
<app-footer></app-footer>
