<div class="row">
  <div class="col-6" id="divImage">
    <img src="../../../assets/psich.avif" alt="logo" id="img" />
  </div>
  <div class="col-6" id="divContent">
    <div class="container-fluid">
      <form>
        <img
          class="mb-4"
          src="../../../assets/TrainLogo.PNG"
          alt=""
          id="Logo"
        />
        <h2>Registrazione</h2>

        <div class="input">
          <input type="text" class="form-control" placeholder="Nome" />

          <input type="text" class="form-control" placeholder="Cognome" />
        </div>
        <div class="input">
          <input
            type="text"
            class="form-control"
            placeholder="Codice Fiscale"
          />

          <input type="text" class="form-control" placeholder="E-mail" />
        </div>
        <div class="input">
          <input
            type="text"
            class="form-control"
            placeholder="Numero di cellulare"
          />

          <input type="text" class="form-control" placeholder="Password" />
        </div>
        <a routerLink="">
          <button class="w-100 btn btn-lg btn-primary" type="submit" id="btn">
            REGISTRATI
          </button></a
        >
      </form>
    </div>
  </div>
</div>
