<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="headings">
    <h2>Chi siamo</h2>
    <h3>TrainApp è il tuo insostituibile compagno di viaggio</h3>
    <h6>
      La nostra app consente di acquistare -
      <strong>velocemente e in modo intuitivo </strong>- <br />
      i biglietti di treni e pullman in tutta Europa e oltre
    </h6>
  </div>
  <div class="container">
    <div class="imgCont">
      <img src="../../../assets/map-picto.png" alt="" id="imgLeft" />
      <h3>Destinazioni europee e nel mondo a portata di app</h3>
      <p>
       <strong> Viaggiare non è mai stato così semplice</strong>. In Europa, il biglietto del
        treno o del pullman ideale per le tue esigenze te lo suggerisce
        Trainline. Per chi ama spingersi oltre i confini europei, grazie alla
        collaborazione con JBT, offriamo abbonamenti ferroviari anche in
        Giappone.
      </p>
    </div>
    <div class="imgCont1">
      <img
        src="../../../assets/pictogram_contact_2x.png"
        alt=""
        id="imgRight"
      />
      <h3>Il nostro modello di business</h3>
      <p>
        Abbiamo realizzato una piattaforma agile ed intuitiva per portare sempre
        più viaggiatori a destinazione. Per questo trovi e acquisti le opzioni
        di viaggio in ben 14 lingue e 10 valute differenti. Acquista in
        sicurezza con le carte di credito più importanti e online con <strong> Apple Pay</strong>,
      <strong>PayPal</strong>, <strong>Google Pay</strong> e <strong>PostePay</strong>.
      </p>
    </div>
  </div>

  <div class="container-fluid1">
    <div class="text">
      <p id="firstPar">
        Benvenuti nella sezione "<strong>Chi Siamo</strong>" del nostro sito
        dedicato ai treni. Siamo un team appassionato di viaggi in treno e di
        tutto ciò che riguarda questo straordinario mezzo di trasporto. La
        nostra <strong>missione</strong> è quella di fornire ai nostri clienti
        informazioni dettagliate e accurate sui treni, sulle tratte disponibili,
        sulle tariffe e sulle opzioni di viaggio, in modo da rendere
        l'esperienza di viaggio in treno il più piacevole e conveniente
        possibile. Siamo costantemente aggiornati sulle ultime novità del
        settore ferroviario e collaboriamo con le principali compagnie
        ferroviarie per garantire un'ampia scelta di
        <strong> soluzioni di viaggio </strong>ai nostri clienti.
      </p>
      <p id="secondPar">
        Ci impegniamo anche a fornire un
        <strong>servizio clienti</strong> eccellente, in grado di rispondere a
        tutte le vostre domande e di aiutarvi a pianificare il vostro viaggio in
        treno in modo facile e veloce. Siamo fieri di poter offrire un servizio
        completo per i viaggi in treno, dal momento della prenotazione fino
        all'arrivo a destinazione. Grazie alla nostra
        <strong>passione</strong> e alla nostra <strong>esperienza</strong>,
        siamo in grado di offrire un servizio di alta qualità e di soddisfare le
        esigenze di tutti i nostri clienti.
      </p>
      <p>
        Scegliete di viaggiare in treno con noi e scoprirete un modo unico ed
        emozionante di <strong>esplorare il mondo</strong>, con la comodità,
        l'efficienza e la sicurezza che solo il treno può offrire.
        <strong>Grazie </strong>per aver scelto il nostro sito e per averci dato
        la possibilità di farvi scoprire il magico mondo dei treni.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
