.container-fluid {
  width: 100%;
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.headings {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

h2,
h3,
h6 {
  margin-top: 2%;

  font-weight: 700;
  color: #334b37;
}
h3 {
  font-weight: 600;
}
h6 {
  font-weight: 500;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-right: 3.5%;
}

.imgCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 0 auto;
}
.imgCont1{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-right: 13.5em;
}
#imgRight {
  width: 62%;
  margin-right: 1.5em;;
}
#imgLeft {
  margin-top: 20%;
}

.container-fluid1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  width: 65%;

  margin-top: 5%;

  margin-bottom: 5%;
  font-weight: 500;
}
#firstPar {
  margin-bottom: 3em;
}
#secondPar {
  margin-bottom: 3em;
}
