.divForm {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20%;
}
.input-group {
  margin-right: 1em;
}
.input-group-text {
  background-color: white;
  border-color: white;
}
.form-control {
  background-color: white;
  border-color: white;
  border-style: groove;
  color:grey;

}

.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
    .valid-feedback
  ):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}
#dateStandard {
  margin-right: 1em;
}

#btn-success{
  margin-left: 1em;
  color:white;
  font-weight: 600;

}

