.divForm {
  display: flex;
  justify-content: flex-start;
  height: 40%;


}
.container-fluid {
  height: 40%;
  margin-top: 12.5%;
  margin-bottom: 17.5%;
}
.input-group-text {
  background-color: white;
  border:1px solid grey;
  border-right: none!important;
  margin-top: 2em;
  height: 3em;
  width: 4em;
  font-weight: 700;

}
.form-control {
  border:1px solid grey;
  background-color: white;

  border-left: none!important;
  border-style: groove;
  color: grey;
  margin-top: 2em;
  margin-right: 2em;
  width: 20em;

}

.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
    .valid-feedback
  ):not(.invalid-tooltip):not(.invalid-feedback) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 3em;
  margin-right: 10%;
  margin-left: -5%;
  opacity:1;
}

#btn-success {
  margin-left: 1em;
  color: white;
  height: 2.5em;
  width: 8em;
  margin-top: 2em;
  padding-block-start: -5px;
  font-weight: 600;
  background-color: #334b37;
}

#btnDiv {

  display: flex;
  justify-content:flex-end;
  margin-bottom: 2%;
  margin-right: 2.5%;
}
#HeadingsTicket {
  font-weight: 400;
  padding-left: 5%;
}
.container-form {
  margin-top:3%;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;

}
form {
  height: 100%;
  opacity:0.85;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 2px;

}
#container-input1{
  margin-left: 2.5%;
}
.switchDiv{
  width:5em;
  margin-top: 5%;
}

