<div class="row">
  <div class="col-6" id="divImage">
    <img src="../../../assets/psich.avif" alt="logo" id="img" />
  </div>
  <div class="col-6" id="divContent">
    <div class="container-fluid">
      <form>
        <img
          class="mb-4"
          src="../../../assets/TrainLogo.PNG"
          alt=""
          id="Logo"
        />

        <div class="input">
          <input type="text" class="form-control" placeholder="Email" />
        </div>
        <div class="input">
          <input type="text" class="form-control" placeholder="Password" />
        </div>
       <div class="other">
        <div class="checkbox mb-3">
          <a class="nav-link"  routerLink="/registration">Registrati</a>
          <label>
            <input
              type="checkbox"
              value="remember-me"
              id="RememberMe"
            />Ricordami</label
          >
        </div>
      </div>
      <a routerLink="/home">
        <button class="w-100 btn btn-lg btn-primary" type="submit" id="btn">
          Accedi
        </button>
      </a>

        <p class="mt-5 mb-3 text-muted" id="paragraph">© 2017–2023</p>
      </form>
    </div>
  </div>
</div>
