<div class="row">
  <div class="col-6" id="divImage">
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  <div class="col-6" id="divContent">
    <div class="container-fluid">
      <form>
        <img
          class="mb-4"
          src="../../../assets/TrainLogo.PNG"
          alt=""
          id="Logo"
        />

        <div class="input">
          <input type="email" class="form-control" placeholder="Email" />
        </div>
        <div class="input">
          <input type="password" class="form-control" placeholder="Password" />
        </div>
       <div class="other">
        <div class="checkbox mb-3">
          <a class="nav-link"  routerLink="/registration">Registrati</a>
          <label>
            <input
              type="checkbox"
              value="remember-me"
              id="RememberMe"
            />Ricordami</label
          >
        </div>
      </div>

      <a routerLink="/home">
        <button class="w-100 btn btn-lg btn-primary" style="font-size: medium;" type="submit" id="btn">
          Accedi
        </button>
      </a>
      <hr class="gray-line" style="margin-top: 5%;margin-bottom: 5%;">

      <div class="col">
        <h5 style="font-weight: 600;">Accedi con i social!</h5>
        <a href="#" class=" btn">
          <i class="fab fa-facebook fa-fw"></i> Accedi con Facebook
        </a>
        <a href="#" class=" btn">
          <i class="fab fa-twitter fa-fw"></i> Accedi con Twitter
        </a>
        <a href="#" class=" btn">
          <i class="fab fa-google fa-fw"></i> Accedi con Google+
        </a>
      </div>

        <p class="mt-5 mb-3 text-muted" id="paragraph">© 2017–2023</p>
      </form>
    </div>
  </div>
</div>
